<h4 class= "textt-center">Registre-se e mostre seu pet ao mundo!</h4>

<form class="form mt-4">
  <div class= "form-group"> Registre
    <input placeholder="E-mail" class="form-control"/>
  </div>
  <div class="form-group">
    <input placeholder="Nome completo" class="form-control"/>
  </div>
  <div class= "form-group">
    <input placeholder="Usuário" class="form-control"/>
  </div>
  <div class="form-group">
    <input placeholder="Senha"class="form-control"/>
  </div>

  <button class="btn btn-primary btn-block">Cadastro</button>
</form>

<p>Já é um usuário?<a [routerLink]="['']">Faça login!</a></p>
<!-- Como estou dentro de um componente que está dentro do modulo de home,
o angular já entende o nome de rota nesse formato, nao preciso escrever ela toda-->
